.comment-item {
  overflow-wrap: break-word;
  word-break: normal;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border-muted);

  .comment-author {
    display: block;
    text-align: right;
    color: var(--color-text-muted);
  }

  .comment-body {
    white-space: pre-line;
  }
}
