.post-list {
  .post-list-grid {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  .post-item {
    border: 1px solid black;
    padding: var(--space-md) var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    border-radius: var(--radius-xxs);
  }

  .post-header {
    overflow: hidden;
    word-break: break-all;
  }

  .post-link {
    display: inline;
    text-decoration: none;
    color: inherit;
  }

  .post-link:hover {
    text-decoration: underline;
  }

  .post-meta {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-muted);
  }

  @media (width <= 450px) {
    text-align: center;

    .post-title {
      font-size: var(--text-md);
    }

    .post-meta {
      flex-direction: column;
      gap: var(--space-md);
    }
  }
}
