.comment-item {
  overflow-wrap: break-word;
  word-break: normal;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border-muted);

  .comment-author {
    display: block;
    text-align: right;
    color: var(--color-text-muted);
  }

  .comment-input {
    width: 100%;
  }

  .comment-body {
    white-space: pre-line;
  }

  .form-actions,
  .actions {
    display: flex;
    align-items: stretch;
    gap: var(--space-md);
    margin-bottom: var(--space-xs);
  }

  .form-actions button,
  .actions button {
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
  }
}
